<div{{ attributes }}>
  <header class="page__header" role="banner">
    {% block header %}
      <div class="uni-wrapper">
        {{ page.header }}
      </div>
    {% endblock %}
  </header>

  <main class="page__main" role="main" id="main-content">
    {% block main %}
      <div class="uni-wrapper">
        {{ page.title }}
        {{ page.content }}
      </div>
    {% endblock %}
  </main>

  <footer class="page__footer" role="contentinfo">
    {% block footer %}
      <div class="uni-wrapper">
        {{ page.footer }}
      </div>
    {% endblock %}
  </footer>

  {{ page.fixed }}
</div>
