<div{{ attributes }}>
  {% embed '@components/uni-card.html.twig' %}
    {% block media %}
      {{ content.uni_card_media }}
    {% endblock %}

    {% block title %}
      {{ content.uni_card_title }}
    {% endblock %}

    {% block description %}
      {{ content.uni_card_description }}
    {% endblock %}

    {% block link %}
      {{ content.uni_card_link }}
    {% endblock %}
  {% endembed %}
</div>
