{% include "@asset_autoload/autoload.html.twig" %}

{% if label_hidden and not multiple %}

  {% for item in items %}
    <div{{ attributes }}>{{ item.content }}</div>
  {% endfor %}

{% elseif label_hidden and multiple %}

  <div{{ attributes }}>
    {% for item in items %}
      <div{{ item.attributes }}>{{ item.content }}</div>
    {% endfor %}
  </div>

{% elseif not label_hidden and not multiple %}

  <div{{ attributes }}>
    <div{{ title_attributes }}>{{ label }}</div>
    {% for item in items %}
      <div{{ item.attributes }}>{{ item.content }}</div>
    {% endfor %}
  </div>

{% elseif not label_hidden and multiple %}

  <div{{ attributes }}>
    <div{{ title_attributes }}>{{ label }}</div>
    <div class="field__items">
      {% for item in items %}
        <div{{ item.attributes }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  </div>

{% endif %}
