{% set suggestions = include("@uni_base/autoload.html.twig")|split(' ') %}
{% set attributes = attributes.addClass(suggestions) %}

<div{{ attributes }}>
  <header class="page__header" role="banner">
    {% block header %}
      <div class="container">
        <div class="page__header__regions">
          {{ page.header }}
          {{ page.primary_menu }}
        </div>
      </div>
    {% endblock %}
  </header>

  <main class="page__main" role="main" id="main-content">
    {% block main %}
      {{ page.content }}
    {% endblock %}
  </main>

  <footer class="page__footer" role="contentinfo">
    {% block footer %}
      <div class="container">
        <div class="page__footer__regions">
          {{ page.footer }}
        </div>
      </div>
    {% endblock %}
  </footer>
</div>

{{ page.fixed }}
